<hr />
<p>Search Component</p>
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <p>
    <label>Rover:</label>
    <select formControlName="rover">
      <option value="curiosity">Curiosity</option>
      <option value="opportunity">Opportunity</option>
      <option value="spirit">Spirit</option>
    </select>
  </p>
  <p>
    <label>Earth date:</label>
    <input type="text" formControlName="earthDate" />
  </p>
  <p>
    <label>Sol:</label>
    <input type="text" formControlName="sol" />
  </p>
  <p>
    <button type="submit">Search</button>
  </p>
</form>

<hr />
